/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #212121;
  font-family: monospace;
  overflow-y: auto;
  font-style: monospace;
}

* {
  margin: 0;
  padding: 0;
  margin-left: 1px;
}

input {
  font-family: monospace;
  font-style: monospace;
}

input:focus {
  outline: none;
}
